/*Media queries*/
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-color: #d8dbd5;
}

p {
  margin: 0;
}

.cabecera {
  background-color: #009688;
  top: 0;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 127px;
  content: "";
}

/***seccion de la lista de chats****/
.main {
  width: 100%;
  margin: 0 auto;
  z-index: 2;
  top: 0px;
  position: relative;
  box-shadow: 0 1px 1px 0;
  display: flex;
  overflow: hidden;
  height: 100vh;
  /***seccion del chat elegido*****/
}

@media (min-width: 480px) {
  .main {
    width: 74%;
    top: 19;
    height: 96vh;
  }
}

@media (min-width: 768px) {
  .main {
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    top: 0px;
    position: relative;
    box-shadow: 0 1px 1px 0;
    display: flex;
    height: 100vh;
  }
}

@media (min-width: 1366px) {
  .main {
    width: 84%;
    margin: 0 auto;
    z-index: 2;
    top: 19px;
    position: relative;
    box-shadow: 0 1px 1px 0;
    display: flex;
    height: 100vh;
  }
}

@media (min-width: 1920px) {
  .main {
    width: 74%;
    height: 97.5vh;
  }
}

.main .chats {
  display: flex;
  flex-direction: column;
  flex: 100%;
  background-color: #ededed;
}

@media (min-width: 480px) {
  .main .chats {
    flex: 30%;
  }
}

@media (min-width: 768px) {
  .main .chats {
    flex: 40%;
    height: 100vh;
  }
}

@media (min-width: 1920px) {
  .main .chats {
    flex: 30%;
  }
}

.main .chats .headerChats {
  display: flex;
  position: relative;
  width: 100%;
  height: 59px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: .6rem;
  border: 1px solid #dadada;
}

.main .chats .headerChats .cabeceraChats {
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
}

.main .chats .headerChats .cabeceraChats .imagenMain {
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.main .chats .headerChats .cabeceraChats .imagenMain .imagenDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main .chats .headerChats .cabeceraChats .imagenMain .imagenDiv .imagenOwner {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.main .chats .headerChats .estadoOpciones {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.main .chats .headerChats .estadoOpciones .estado {
  padding: .5rem 1rem;
}

.main .chats .headerChats .estadoOpciones .estado i {
  color: #919191;
}

.main .chats .headerChats nav {
  position: absolute;
  width: 0;
  top: -1px;
  z-index: 100;
  background-color: #ededed;
  overflow-x: hidden;
  transition: 0.4s;
  box-sizing: border-box;
}

.main .chats .headerChats nav .perfil {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 108px;
  background-color: #00bfa5;
}

.main .chats .headerChats nav .textoDevolucion {
  display: flex;
  color: white;
}

.main .chats .headerChats nav .textoDevolucion p {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
}

.main .chats .headerChats nav .fotoPerfilOwner {
  display: flex;
  justify-content: center;
  background-color: #ededed;
  padding-top: 28px;
  padding-bottom: 28px;
}

.main .chats .headerChats nav .fotoPerfilOwner .perfilOwner {
  position: relative;
}

.main .chats .headerChats nav .fotoPerfilOwner .perfilOwner .tamanoFoto {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.main .chats .headerChats nav .fotoPerfilOwner .perfilOwner .tamanoFoto .contenedorFoto {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.main .chats .headerChats nav .fotoPerfilOwner .perfilOwner .tamanoFoto .contenedorFoto .ownerFoto {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
}

.main .chats .headerChats nav .fotoPerfilOwner .perfilOwner .tamanoFoto .contenedorFoto .ownerFoto .claseFotoOwner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.main .chats .headerChats nav .nombreOwner {
  padding: 14px 30px 10px;
  background-color: white;
  margin-bottom: 10px;
}

.main .chats .headerChats nav .nombreOwner .marginAbajo {
  margin-bottom: 14px;
  color: #00bfa5;
  font-size: 14px;
  line-height: normal;
}

.main .chats .headerChats nav .nombreOwner .datosOwner {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

.main .chats .headerChats nav .textoInformativo {
  margin: 4px 20px 28px 30px;
  color: #acacac;
}

.main .chats .notificaciones {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  border-right: 1px solid #dadada;
}

.main .chats .notificaciones .notificacionesContenido {
  background-color: #9de1fe;
  padding: .8rem;
  display: flex;
  align-items: center;
  min-height: 62px;
  height: 90px;
}

.main .chats .notificaciones .notificacionesContenido .campanaNotificaciones {
  margin-right: 15px;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .chats .notificaciones .notificacionesContenido .campanaNotificaciones i {
  color: #9de1fe;
}

.main .chats .notificaciones .notificacionesContenido .textoNotificaciones {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.main .chats .notificaciones .notificacionesContenido .textoNotificaciones .textNotificaciones {
  font-size: 16px;
  line-height: 21px;
  color: #414c50;
  margin: 0;
}

.main .chats .notificaciones .notificacionesContenido .textoNotificaciones .textNotificaciones2 {
  font-size: 14px;
  line-height: 21px;
  color: #414c50;
  margin: 0;
}

.main .chats .notificaciones .notificacionesContenido .textoNotificaciones .textNotificaciones2 span {
  font-weight: bold;
}

.main .chats .buscador {
  position: relative;
  height: 77px;
  box-sizing: border-box;
  background-color: #f6f6f6;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
}

@media (min-width: 480px) {
  .main .chats .buscador {
    height: 50px;
  }
}

@media (min-width: 768px) {
  .main .chats .buscador {
    height: 62px;
  }
}

@media (min-width: 1366px) {
  .main .chats .buscador {
    height: 50px;
  }
}

.main .chats .buscador .lupa {
  position: absolute;
  top: 14px;
  z-index: 99;
  border: none;
  left: 24px;
  background-color: unset;
  cursor: pointer;
}

.main .chats .buscador .textoBuscar {
  position: absolute;
  top: 16px;
  z-index: 99;
  font-size: 14px;
  height: 20px;
  color: #acacac;
  left: 114px;
}

@media (min-width: 768px) {
  .main .chats .buscador .textoBuscar {
    top: 15px;
    left: 60px;
  }
}

@media (min-width: 1366px) {
  .main .chats .buscador .textoBuscar {
    top: 14px;
    left: 114px;
  }
}

.main .chats .buscador .label {
  right: 14px;
  left: 12px;
  padding-right: 32px;
  padding-left: 65px;
  background-color: white;
  border-radius: 18px;
  position: absolute;
  top: 7px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 35px;
}

.main .chats .listadoChats::-webkit-scrollbar {
  width: 4px !important;
  height: 0px !important;
}

.main .chats .listadoChats::-webkit-scrollbar-track {
  background: white;
}

.main .chats .listadoChats::-webkit-scrollbar-thumb {
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #acacac;
  /* creates padding around scroll thumb */
}

.main .chats .listadoChats {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 1;
  overflow-y: auto;
  background-color: white;
  position: relative;
  border-right: 1px solid #dadada;
}

.main .chats .listadoChats .contenedorChats {
  height: 100%;
}

@media (min-width: 768px) {
  .main .chats .listadoChats .contenedorChats {
    height: 1014px;
  }
}

@media (min-width: 1366px) {
  .main .chats .listadoChats .contenedorChats {
    height: 700px;
  }
}

@media (min-width: 1920px) {
  .main .chats .listadoChats .contenedorChats {
    height: 700px;
  }
}

.main .chats .listadoChats .contenedorChats .listado {
  position: relative;
  overflow: hidden;
}

.main .chats .listadoChats .contenedorChats .listado .chatPersona {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 72px;
}

@media (min-width: 768px) {
  .main .chats .listadoChats .contenedorChats .listado .chatPersona {
    height: 90px;
  }
}

@media (min-width: 1366px) {
  .main .chats .listadoChats .contenedorChats .listado .chatPersona {
    height: 72px;
  }
}

.main .chats .listadoChats .contenedorChats .listado .chatPersona .fotoPersona {
  display: flex;
  align-items: center;
  padding: 0 15px 0 15px;
}

.main .chats .listadoChats .contenedorChats .listado .chatPersona .fotoPersona .fotoPerfil {
  height: 49px;
  width: 49px;
  position: relative;
}

.main .chats .listadoChats .contenedorChats .listado .chatPersona .fotoPersona .fotoPerfil .fotoPerfilPersona {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main .chats .listadoChats .contenedorChats .listado .chatPersona .fotoPersona .fotoPerfil .fotoPerfilPersona .perfilFoto {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.main .chats .listadoChats .contenedorChats .listado .chatPersona .mensajePersona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-width: 0;
  flex-basis: auto;
  padding-right: 15px;
  border-bottom: 1px solid #dadada;
}

.main .chats .listadoChats .contenedorChats .listado .chatPersona .mensajePersona .nombrePersona {
  display: flex;
  align-items: center;
}

.main .chats .listadoChats .contenedorChats .listado .chatPersona .mensajePersona .mensajeChat {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 20px;
}

.main .chats .listadoChats .contenedorChats .listado .chatPersona .mensajePersona .mensajeChat .estiloMensaje {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .chat {
  flex: 0%;
  position: relative;
  height: 100%;
  z-index: 100;
  background-color: #ededed;
  border-bottom: 1px solid #dadada;
  overflow: hidden;
}

@media (min-width: 480px) {
  .main .chat {
    flex: 70%;
  }
}

@media (min-width: 768px) {
  .main .chat {
    height: 1024px;
  }
}

@media (min-width: 1366px) {
  .main .chat {
    height: 1024;
  }
}

@media (min-width: 1920px) {
  .main .chat {
    height: unset;
  }
}

.main .chat .chatMain {
  display: flex;
  position: relative;
  width: 100%;
  height: 59px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: .6rem;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
}

.main .chat .chatMain .chatCabecera {
  display: flex;
  flex-direction: row;
  position: relative;
}

.main .chat .chatMain .chatCabecera .imagenMain {
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.main .chat .chatMain .chatCabecera .imagenMain .imagenDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main .chat .chatMain .chatCabecera .imagenMain .imagenDiv .imagenOwner {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.main .chat .chatMain .chatCabecera .nombreUsuario {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: center;
}

.main .chat .chatMain .chatCabecera .nombreUsuario .conexionUsuario {
  color: #acacac;
  font-size: 12;
}

.main .chat .chatMain .buscarOpciones {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.main .chat .chatMain .buscarOpciones .estado {
  padding: .5rem 1rem;
}

.main .chat .chatMain .buscarOpciones .estado i {
  color: #919191;
}

.main .chat .chatUnico::-webkit-scrollbar {
  width: 4px !important;
  height: 0px !important;
}

.main .chat .chatUnico::-webkit-scrollbar-track {
  background: white;
}

.main .chat .chatUnico::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid #acacac;
}

.main .chat .contenedorChat {
  position: relative;
  z-index: 1;
  flex: 1 1 0;
  order: 2;
  height: 85vh;
}

@media (min-width: 480px) {
  .main .chat .contenedorChat {
    height: 83vh;
  }
}

@media (min-width: 768px) {
  .main .chat .contenedorChat {
    height: 87vh;
  }
}

@media (min-width: 1366px) {
  .main .chat .contenedorChat {
    height: 83vh;
  }
}

.main .chat .contenedorChat .chatUnico {
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url(../img//fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .main .chat .contenedorChat .chatUnico {
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url(../img//fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 132px);
  }
}

@media (min-width: 1366px) {
  .main .chat .contenedorChat .chatUnico {
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 768px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url(../img//fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1920px) {
  .main .chat .contenedorChat .chatUnico {
    height: 768px;
  }
}

.main .chat .contenedorChat .chatUnico .chatIngresa {
  padding-left: 9%;
  padding-right: 9%;
  margin-bottom: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main .chat .contenedorChat .chatUnico .chatIngresa .mensajeIngresa {
  position: relative;
  max-width: 65%;
}

.main .chat .contenedorChat .chatUnico .chatIngresa .mensajeIngresa .contenedorMensaje {
  background-color: #dcf8c6;
  border-radius: 10px;
}

.main .chat .contenedorChat .chatUnico .chatIngresa .mensajeIngresa .contenedorMensaje .mensajeIntro {
  padding: 6px 7px 8px 9px;
}

.main .chat .contenedorChat .chatUnico .chatIngresa .mensajeIngresa .contenedorMensaje .visto {
  display: flex;
  justify-content: flex-end;
}

.main .chat .contenedorChat .chatUnico .chatIngresa .mensajeIngresa .contenedorMensaje .visto span {
  margin-right: 10px;
  font-size: 12px;
}

.main .chat .contenedorChat .chatUnico .chatIngresa .mensajeIngresa .contenedorMensaje .visto i {
  color: #919191;
}

.main .chat .contenedorChat .chatUnico .chatIngresa .mensajeIngresa .contenedorMensaje .visto i:last-child {
  margin-right: 10px;
}

.main .chat .contenedorChat .chatUnico .chatSale {
  padding-left: 9%;
  padding-right: 9%;
  margin-bottom: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main .chat .contenedorChat .chatUnico .chatSale .mensajeSale {
  position: relative;
  max-width: 65%;
}

.main .chat .contenedorChat .chatUnico .chatSale .mensajeSale .contenedorMensaje {
  background-color: white;
  border-radius: 10px;
}

.main .chat .contenedorChat .chatUnico .chatSale .mensajeSale .contenedorMensaje .mensajeOut {
  padding: 6px 7px 8px 9px;
}

.main .chat .contenedorChat .chatUnico .chatSale .mensajeSale .contenedorMensaje .visto {
  display: flex;
  justify-content: flex-end;
}

.main .chat .contenedorChat .chatUnico .chatSale .mensajeSale .contenedorMensaje .visto span {
  margin-right: 10px;
  font-size: 12px;
}

.main .chat .contenedorChat .chatUnico .chatSale .mensajeSale .contenedorMensaje .visto i {
  color: #919191;
}

.main .chat .contenedorChat .chatUnico .chatSale .mensajeSale .contenedorMensaje .visto i:last-child {
  margin-right: 10px;
}

.main .chat .footer {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  flex: none;
  order: 3;
  width: 100%;
  min-height: 62px;
  background-color: #ededed;
}

.main .chat .footer .contenedorFooter {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  min-height: 62px;
  padding: .6rem;
}

.main .chat .footer .contenedorFooter .emoticones {
  display: flex;
  cursor: pointer;
}

.main .chat .footer .contenedorFooter .emoticones .emociones {
  position: relative;
  display: flex;
  width: 26px;
  height: 42px;
  margin-right: 15px;
  align-items: center;
  color: #919191;
}

.main .chat .footer .contenedorFooter .emoticones .adjuntar {
  position: relative;
  display: flex;
  width: 26px;
  height: 42px;
  margin-right: 15px;
  align-items: center;
  color: #919191;
  margin-left: 8px;
}

.main .chat .footer .contenedorFooter .escribir {
  position: relative;
  width: 96%;
}

.main .chat .footer .contenedorFooter .escribir .mensaje {
  padding: 9px 12px 11px;
  margin: 5px 10px;
  border-radius: 21px;
  box-sizing: border-box;
  flex: 1 1 auto;
  width: inherit;
  outline: none;
  border: none;
}

.main .chat .footer .contenedorFooter .escribir .mensaje::-moz-placeholder {
  color: #acacac;
}

.main .chat .footer .contenedorFooter .escribir .mensaje:-ms-input-placeholder {
  color: #acacac;
}

.main .chat .footer .contenedorFooter .escribir .mensaje::placeholder {
  color: #acacac;
}

.main .chat .footer .contenedorFooter .audio {
  padding: 5px 10px;
  color: #919191;
  cursor: pointer;
}

.main .infoChatPersona {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  right: 0;
  background-color: #ededed;
  overflow-x: hidden;
  transition: 0.4s;
  box-sizing: border-box;
  overflow: hidden;
}

@media (min-width: 480px) {
  .main .infoChatPersona {
    position: relative;
    width: 0;
  }
}

@media (min-width: 768px) {
  .main .infoChatPersona {
    position: absolute;
    z-index: 100;
  }
}

@media (min-width: 1366px) {
  .main .infoChatPersona {
    position: relative;
  }
}

.main .infoChatPersona header {
  display: flex;
  height: 59px;
  align-items: center;
}

.main .infoChatPersona header i {
  margin-right: 15px;
  margin-left: 15px;
  color: #919191;
}

.main .infoChatPersona .contenedorInformacion::-webkit-scrollbar {
  width: 4px !important;
  height: 0px !important;
}

.main .infoChatPersona .contenedorInformacion::-webkit-scrollbar-track {
  background: white;
}

.main .infoChatPersona .contenedorInformacion::-webkit-scrollbar-thumb {
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #acacac;
  /* creates padding around scroll thumb */
}

.main .infoChatPersona .contenedorInformacion {
  height: 880px;
  overflow: auto;
}

@media (min-width: 768px) {
  .main .infoChatPersona .contenedorInformacion {
    height: 989px;
  }
}

@media (min-width: 1920px) {
  .main .infoChatPersona .contenedorInformacion {
    height: 880px;
  }
}

.main .infoChatPersona .imagenGrupo {
  padding: 28px 30px 19px;
  margin-bottom: 14px;
  background-color: white;
}

.main .infoChatPersona .imagenGrupo .grupoImagen {
  margin-bottom: 20px;
}

.main .infoChatPersona .imagenGrupo .grupoImagen .tamanoImagen {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.main .infoChatPersona .imagenGrupo .grupoImagen .tamanoImagen .imagenGroup {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main .infoChatPersona .imagenGrupo .grupoImagen .tamanoImagen .imagenGroup .cien {
  width: 100%;
  border-radius: 50%;
}

.main .infoChatPersona .nombreGrupo {
  display: flex;
  flex-direction: column;
}

.main .infoChatPersona .nombreGrupo .nombre {
  display: flex;
  justify-content: space-between;
}

.main .infoChatPersona .nombreGrupo .nombre p {
  font-size: 19px;
}

.main .infoChatPersona .ultima {
  margin-top: 1rem;
}

.main .infoChatPersona .ultima span {
  color: #acacac;
  font-size: 14px;
}

.main .infoChatPersona .descripcion {
  background-color: white;
  padding: 1rem 2rem;
  margin-bottom: 14px;
}

.main .infoChatPersona .descripcion p {
  color: #00bfa5;
}

.main .infoChatPersona .anade {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .infoChatPersona .anade p {
  color: black;
  font-size: 14px;
  margin-top: 10px;
}

.main .infoChatPersona .archivos {
  padding: 1rem 2rem;
  background-color: white;
  margin-bottom: 14px;
}

.main .infoChatPersona .archivos .enlaces {
  display: flex;
  justify-content: space-between;
}

.main .infoChatPersona .archivos .enlaces p {
  color: #00bfa5;
}

.main .infoChatPersona .archivos p {
  color: #acacac;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.main .infoChatPersona .silenciar {
  padding: 1rem 2rem;
  background-color: white;
  margin-bottom: 14px;
}

.main .infoChatPersona .silenciar .notificacionesOut {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dadada;
  padding: 1rem 0 1rem 0;
}

.main .infoChatPersona .silenciar .notificacionesOut i {
  color: #919191;
}

.main .infoChatPersona .silenciar .notificacionesOut:last-child {
  border: unset;
}

.main .infoChatPersona .bloqueo {
  padding: 1rem 2rem;
  background-color: white;
  margin-bottom: 14px;
}

.main .infoChatPersona .bloqueo .report {
  display: flex;
}

.main .infoChatPersona .bloqueo .report i {
  margin-right: 15px;
  color: #df3333;
}

.main .infoChatPersona .bloqueo:last-child {
  margin-bottom: 30px;
}
